<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/index.css">
    <title>woah a project crazy</title>
    </head>
  </head>
  <body>
    <div class="background--custom">
        <canvas id="canvas" />
      </div>
      <script src="https://cdn.jsdelivr.net/gh/greentfrapp/pocoloco@minigl/minigl.js"></script>
      <script>
      var gradient = new Gradient();
      gradient.initGradient("#canvas");
      </script>
    
    <h1>I made this</h1>
    <h3>it wasnt too hard</h3>

    <p><a href="https://open.spotify.com/playlist/3LPu3TTEUi8X85O2KUv0a4?si=c5972bb05d744e66">this is the playlist thats on when i play val with my headphones volume (builtin slider) at around 95% with the play list on around 20 - 40% volume in spotify with a windows system volume setting at 31</a></p>

    <p>backgrounds made by the <a href="https://pocoloco.io">pocoloco.io</a> people they are really cool and linked on mr whalens site at <a href="mikewhalen.tech">mikewhalen.tech</a></p>
    <h5>my persoanl game hall of fame</h5>
    <ul>
        <li>lethal league blaze (recent pick up but def one of the most fun games)</li>
        <li>valorant (professional iron 1 player)</li>
        <li>cs:go (i am better with an awp then an operator)</li>
        <li>melee (slippi connect code: TRIS#187)</li>
        <li>dandara (nobody knows this game and its a crime)</li>
        <li>star fox assault (same case as above genuinely the most fun game in the star fox series)</li>
        <li>bo2 (wiiu version specifically because i can play with wiimote and nunchuck)</li>
    </ul>
    
    <h5>favorite mains in games</h5>
    <!--
    neon
    daisy
    rosalina
    falco
    pomme
    ms. chalice
    krystal
    -->
    <ol>
      <li>neon (valorant)</li>
      <li>rosalina (super mario party)</li>
      <li>daisy (mario power tennis)</li>
      <li>falco (melee)</li>
      <li>my smash ultimate mains</li>
      <li>krystal (star fox: assault multiplayer)</li>
      <li>ms. chalice (cuphead)</li>
      <li>pomme (rivals of aether)</li>
    </ol>
    
    <h5>ssbu mains</h5>
    <!--
    lucas
    zss
    roy
    marth
    pyra & mythra
    dark/pit
    -->
    <ul>
      <li>lucas</li>
      <li>zss</li>
      <li>roy</li>
      <li>marth</li>
      <li>pyra & mythra</li>
      <li>dark/pit</li>
    </ul>

</body>
</html>
